<% provide(:title, "管理人") %>
<h1>管　理　人</h1>
<p><big>
  氷の削る音、クラッシックにあわせた優雅な表現、氷の上とは思えないステップ。
  そんなスケーターたちをこよなく愛し、冬になるとわくわくします。
  
  伊藤みどりのアクセルジャンプがすきで、キムヨナの表現力が好きで、羽生結弦の気の強さがすき。
  そして　高橋大輔のステップの大ファンです。</p>

  
<p>
  <a href="mailto:yatayata@yahoo.co.jp">お問い合わせメール</a>
</p></big>