<% provide(:title, "お気に入り") %>
<h1>お気に入りのスケーター</h1>

<div class="favorite">
<table border="1">
  <tr>
    <td class="name">名前</td><td class="cuntry">国</td><td>特徴</td>
  </tr>
  <tr>
    <td><a href="https://twitter.com/nathanwchen" target="_blank">ネイサン・チェン</td></a><td>米国</td><td class="note">アウトローな曲がよく似合う。身のこなしがとてもきれい。</td>
  </tr>
  <tr>
    <td><a href="https://www.instagram.com/d1sk_t/?hl=ja" target="_blank">高橋 大輔</a></td><td>日本</td><td class="note">彼のステップは世界一！ブエノスアイレスの冬がすき。</td>
  </tr>
   <tr>
    <td><a href="https://twitter.com/javierfernandez" target="_blank">ハビエル・フェルナンデス</a></td><td>スペイン</td><td class="note">ラ・マンチャの男は、彼の雰囲気にぴったり。</td>
  </tr>
   <tr>
    <td><a href="https://twitter.com/rika_kihira" target="_blank">紀平 梨花</a></td><td>日本</td><td class="note">彼女のトリプルアクセルは癖がなくきれい。将来を期待したい。</td>
  </tr>
  <tr>
    <td><a href="https://www.instagram.com/azagitova/" target="_blank">アリーナ・ザギトワ</a></td><td>ロシア</td><td class="note">どれだけ滑っても、息があがらない。この年でこの雰囲気はすごい！</td>
  </tr>
  <tr>
    <td><a href="https://twitter.com/marin_honda" target="_blank">本田 真凜</a></td><td>日本</td><td class="note">花のあるスケーター。かわいいだけじゃない。今後に期待したい。</td>
  </tr>
  <tr>
    <td><a href="https://twitter.com/JannyMedvedeva" target="_blank">エフゲーニャ・メドベージェワ</a></td><td>ロシア</td><td class="note">ロシアの選手はみなきれいで　手足が長い。</td>
  </tr>
</table>
</div>