<footer class="footer">
  <small>
    Create by Etsuko Miyata
  </small>
  <nav>
    <ul>
      <!-- <li><%= link_to "About",   about_path %></li> -->
      <li><%= link_to "管理人の紹介", contact_path %></li>
      <li><a href="https://sports.yahoo.co.jp/figureskate/" target="_blank">ニュース</a></li>
    </ul>
  </nav>
</footer>